.landing{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 100px;
}

h2{
    color: #EF85A3;
    font-size: 3rem;
    padding-bottom: 20px;
}

.description{
    background-color: #92D0ED;
    border-radius: 10px;
    padding: 20px;
}