.create-event-form{
    background-color: #92D0ED;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 8px;
    margin: 0.2rem;
}

h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}

label{
    display: block;
    flex-direction: column;
    margin-bottom: 10px;
}

input{
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid transparent;
}

.add-detail-button{
    background-color: #6EB668;
    padding: 8px;
    margin-bottom: 0.8rem;
}

.delete-detail-button{
    background-color: #EF85A3;
    border-radius: 8px;
    padding: 5px;
    margin-right: 0.5rem;
}

.create-event-button{
    background-color: #6EB668;
    border-radius: 8px;
    padding: 15px;
    margin-top: 10px;
    display: block;
    margin: 0 auto;
}

.create-event-button:hover{
    border-color: #437c3e;
    border-width: 2px;
}

.error-message{
    text-align: center;
    color: red;
}

.shared-counter{
    margin-top: 20px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.detail-list{
    list-style: none;
    padding-left: 0.5rem;    
}

.detail-item{
    margin-top: 0.3rem;
    background-color: #b1dff5;
    border-radius: 8px;
    padding-left: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}